<div>
  <div>
    <h1>
      Photo details
    </h1>

    <div>
      <div>
        <a href="/photos">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_photo/<%= @the_photo.id %>">
          Delete photo
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_photo.image %>">
      </dd>

      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_photo.owner.username %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Fans
      </dt>

      <dd>
        <%@the_photo.likes.each do |the_likes|%>
  
          <a> <%=the_likes.fan.username%>, </a>
        <%end%> 
      </dd>

      <dt>
        Add a fan
      </dt>
      <dd>
       
         
      <% make_a_fan = @current_user.likes.where({:photo_id => @the_photo.id}).at(0) %>
        <% if make_a_fan == nil %>

          <form action="/insert_like" method="post">
      
            <input type="hidden" id="fan_id_box" name="query_fan_id">
            <input type="hidden" id="photo_id_box" name="query_photo_id">

            <button>
              Like
            </button>
          </form>

        <%else%>

          <a href="/usersdelete_followrequest/<%=make_a_fan.id%>">Unfollow</a>

        <%end%>



       
       
        
      </dd>



    </dl>
  </div>
</div>

<hr>




<hr>
